.container {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  padding: 3rem 20vw;
}

.form-container {
  margin-bottom: 2rem;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1 solid;
}
