.container {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.tab-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  height: 100%;
}

.logo {
  text-align: center;
  margin-left: 5vw;
  height: 100%;
  width: 10rem;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: linear 0.5s;
}

.tab {
  padding: 0 5vw;
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: linear 0.5s;
}

.tab-login {
  padding: 0 2vw;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: linear 0.5s;
  height: 100%;
}

.tab-login:hover {
  background-color: #e8e8e8;
}

.tab:hover {
  background-color: #e8e8e8;
}

.toggle-button {
  padding: 0 5vw;
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: linear 0.5s;
}

.logout-container {
  position: absolute;
  right: 0;
  top: 5rem;
  padding: 1rem 2rem;
  text-align: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 10;
}

.logout {
  cursor: pointer;
}
